html,
body,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

#sliderDiv{
  padding: 15px;
}

.esri-legend__layer-row{
  cursor: pointer;
}

#buttonDiv{
  text-align: center;
  padding-bottom: 15px;
}

button {
  cursor: pointer;
}

#instructions{
  font-style: italic;
  padding-bottom: 5px;
}